<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        YourEmailValidator
      {% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
    <link href="{{ url_for('static', path='/css/styles.css') }}" rel="stylesheet" />
    <script src="//unpkg.com/alpinejs" defer></script>
    {% block extra_css %}
    {% endblock %}
  </head>
  <body class="bg-gradient min-h-screen flex flex-col">
    {% include 'components/header.html' %}

    <main class="flex-1">
      {% block content %}
      {% endblock %}
    </main>

    <script src="https://unpkg.com/lucide@latest"></script>
    <script src="{{ url_for('static', path='/js/main.js') }}"></script>
    {% block extra_js %}
    {% endblock %}
    <script>
      lucide.createIcons()
    </script>
  </body>
</html>
